#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  width: 100%;
  height: auto;
}

#photos span img {
  width: 26px;
}

#photos div {
    line-height: 0;
    background-color: grey;
    margin: 0;
    padding: 3px;
    break-inside: avoid;
}

p {
  line-height: normal;
  font-size: 1.3em;
  background-color: white;
  padding: 6px;
  margin: 0;
}

span {
  float: right;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

body {
  background-color: grey;
  margin: 0;
  padding: 0px;
}

@media (max-width: 1900px) {
  #photos {
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos div {
    padding: 3px 0px;
  }
  #photos {
  column-count:         1;
  }
}
/* https://css-tricks.com/seamless-responsive-photo-grid/ */
